* {
  margin: 0;
}

a {
  color: bisque;
  font-size: 24px;
  font-family: Bradley Hand, cursive;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}
li.links-list {
  float: right;
}
ul.links-list-container {
  background-color: #5b5f5b;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0%;
}
.active {
  background-color: #32b2a9;
}

.gift-list {
  font-size: 30px;
  font-family: "Comic Sans MS";
  padding: 10px 60px;
  font-family: Bradley Hand, cursive;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 10px;
  height: 40px;
}
footer {
  background-color: #5b5f5b;
}
#footText {
  color: #f4f4f4;
}
#header1 {
  background-image: url(images_for_website/header1.png);
  background-size: cover;
}
#header2 {
  background-image: url(./images_for_website/realheader2.png);
  background-size: cover;
}

#header3 {
  background-image: url(./images_for_website/rh3.png);
  background-size: cover;
}
#header4 {
  background-image: url(./images_for_website/products.png);
  background-size: cover;
}
.picBackdrop {
  background-position: center;
  background-size: 690px;
}

h1 {
  margin: 0%;
  padding: 120px 10px;
  height: 50px;
  text-align: center;
  color: black;
  font-size: 50px;
  font-family: Stencil Std;
}

.add-ons {
  font-size: 30px;
  padding-left: 100px;
  font-family: Bradley Hand, cursive;
}
p {
  font-size: 25px;
  text-align: justify;
  padding: 20px 4px;
  font-family: Bradley Hand, cursive;
}
.productlist {
  font-size: 30px;
  font-family: Bradley Hand, cursive;
  padding: 40px 10px;
}
